Mail Classification with Ollama and Table.json
{
  "name": "Mail Classification with Ollama and Table",
  "nodes": [
    {
      "parameters": {
        "model": "mistral-nemo:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        464,
        368
      ],
      "id": "c51c4369-a9d8-4d91-bc60-a67b304d23de",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "ZajWs11odlrOft5j",
          "name": "Ollama LB"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Classify this E-Mail:\nFrom: {{ $json.from }}\nTo: {{ $json.to }}\nSubject: {{ $json.subject }}\nBody: {{ $json.textPlain }}",
        "options": {
          "systemMessage": "=You are an email classification assistant.\nYour only task is to classify an email into exactly ONE of the following categories:\n\n- advertising\n- delivery\n- login\n- news\n- order\n- personal\n- spam\n- system\n\n\nYou must always choose exactly one category.\n\n## Classification rules:\n\n### advertising\n- sender hast business mail domain\n- Marketing, advertising, promotions, newsletters, selling purpose, commercial offers\n\n### delivery\n- sender has business mail domain\n\n### login\n- One-time passwords (OTP)\n- Login verification codes or magic links\n- Two-factor authentication or security confirmation messages\n- Explicitly triggered by a login or authentication attempt\n\n### news\n- Sent by subscribed newsletter\n- Related to serious products and facts\n\n### order\n- sender hast business mail domain\n- Send by online shops about order status-update|confirmation\n\n### spam\n- Marketing, advertising, promotions, newsletters, or commercial offers with fake/private address in \"from\"\n- Phishing, scams, fake alerts, impersonation attempts\n- Dating, adult content, giveaways, crypto, investment offers\n- Automated bulk messages with external call-to-action links\n- Any email whose primary purpose is persuasion, redirection, or deception\n\n### system\n- Automated system messages (cron, job output, monitoring alerts)\n- Infrastructure or service status notifications\n- Backup reports, error logs, health checks\n- Messages generated by servers, applications, or CI/CD pipelines\n- From: notifications@github.com\n\n### personal\n- Written by a real human to another individual\n- Non-automated and conversational in nature\n- Personal communication without marketing or system intent\n- From: noreply@github.com\n\n## Output instructions:\n- Always respond with exactly only ONE word:\n  advertising | delivery | login | news | order | personal | spam |  system \n- if no category is matching, return: unknown",
          "maxIterations": 1
        }
      },
      "id": "80d67610-bede-4b0b-b185-520b3d4afab5",
      "name": "Mail Classification",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        464,
        80
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "oNldsJKfPjw4CI9k",
          "mode": "list",
          "cachedResultName": "Mail",
          "cachedResultUrl": "/projects/NB2MxTh3JBO39b8M/datatables/oNldsJKfPjw4CI9k"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Classification": "={{ $('Mail Classification').item.json.output }}",
            "From": "={{ $('Email Trigger (IMAP)').item.json.from }}",
            "To": "={{ $('Email Trigger (IMAP)').item.json.to }}",
            "Subject": "={{ $('Email Trigger (IMAP)').item.json.subject }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "From",
              "displayName": "From",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "To",
              "displayName": "To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Classification",
              "displayName": "Classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        768,
        80
      ],
      "id": "91dc6c23-fe9f-4558-9c4d-63d709bdfefc",
      "name": "Classify E-Mail"
    },
    {
      "parameters": {
        "content": "### New Mail\nIf new mail arrives, it triggers the workflow.",
        "height": 608,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -112
      ],
      "typeVersion": 1,
      "id": "dacd7650-4662-4bce-9237-bc8bbd30f861",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {
          "forceReconnect": 60
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        256,
        80
      ],
      "id": "04ef41ef-69a9-49a8-8415-87f1cab2cddd",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "Oro0hptjnTlLKwX0",
          "name": "IMAP chris@bitbull.ch"
        }
      }
    },
    {
      "parameters": {
        "content": "### Classify Mail\n#### User Prompt\nFrom | To | Subject | Text Body\n#### System Prompt\n* Rules to classify as one of:\nadvertising | delivery | login | news | order | personal | spam | system\n",
        "height": 368,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -112
      ],
      "typeVersion": 1,
      "id": "4a3b97a8-33cf-4068-8dcb-12dd6878865c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "###  Local Ollama LLM\n* Name: mistral-nemo:12b (non reasoning)\n* Hardware: DGX Spark",
        "height": 240,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        256
      ],
      "typeVersion": 1,
      "id": "b9bb325c-568d-4beb-bbc1-92b6a9c61fbf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Write results to table\n* Table Name: Mail\n  * From\n  * To\n  * Subject\n  * Date (native Table handler)",
        "height": 608,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -112
      ],
      "typeVersion": 1,
      "id": "9958170d-70d2-4060-ac66-b54f5d39ae6d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Mail Classification\n* Target\n  * Solid classification of email\n  * Base workflow for later mail handling\n     * Telegram Notification (login | personal)\n     * Spam cleanup\n     * News mover (into folder)\n     * Daily overview Table",
        "height": 608,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -112
      ],
      "typeVersion": 1,
      "id": "a0ec2a42-dfe4-4224-a5db-4dba29eedbfa",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mail Classification",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mail Classification": {
      "main": [
        [
          {
            "node": "Classify E-Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Mail Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "timezone": "Europe/Zurich",
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v1",
    "executionTimeout": 300,
    "availableInMCP": false
  },
  "versionId": "de4d66e5-42e8-4044-a8c2-17d8e00cfe1e",
  "meta": {
    "templateId": "5142",
    "templateCredsSetupCompleted": true,
    "instanceId": "ce8ef46daef41bc959c0dc6fbe544d4cb735fa7786b85b02253e7bddbd12a0cf"
  },
  "id": "giZsjbDbc8EQIpd9",
  "tags": []
}